.main {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.titleIntro {
    display: flex;
    flex-direction: column;
}

.navCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}